
<footer class="cs-footer">
      <nav class="cs-links">
        <a class="text-link footer-link" href="https://scholar.google.com/citations?user=t3yR3EgAAAAJ&hl=pt-BR" target="_blank" rel="noopener noreferrer">Publications <span class="=footer-arrow">↗</span></a>
        <a class="text-link footer-link" href="https://github.com/carmem-s" target="_blank" rel="noopener noreferrer">Github <span class="=footer-arrow">↗</span></a>
        <a class="text-link footer-link" href="mailto:Carmem Saito<c.saito@lboro.ac.uk>">Email<span class="=footer-arrow">↗</span></a> 
        <a class="text-link footer-link" href="/impressum">Impressum</a>
      </nav>
  </footer>
