.cs-images {
  margin: 0 auto;
  // border: 3px solid rgb(222, 40, 219);
  @media only screen and (min-width : 992px) {
    margin-left: 27rem;
    max-height: calc(100vh - var(--footer-height));
    padding-top: var(--header-height);
    // padding-bottom: var(--footer-height);
    // display: grid;
    // grid-template-rows: repeat(2, 1fr); /* 🔥 two rows */
    // grid-auto-flow: column;              /* 🔥 fills vertically first, then moves right */
    column-count: 6;
    column-gap: 20rem;
  }
}

.cs-images--item {
  //  border: 2px solid rgb(77, 96, 25);
  @media only screen and (min-width : 992px) {
    margin: 0;
    break-inside: avoid;
    padding: 1rem;
    width: 20rem;
    // min-width: 10rem;
    // max-width: unset;
    cursor: pointer;
  }
}

// .cs-images--each {
//    border: 2px solid blue;
// }

.cs-images--item-df {
  @media only screen and (min-width : 992px) {
    width: 120%;
    margin: 2rem 5rem 0 0;
  }
}

.cs-images--item-yt {
  @media only screen and (min-width : 992px) {
    width: 110%;
    margin: 4rem 0rem 0rem 0rem;
  }
 }

.cs-images--item-sk {
  @media only screen and (min-width : 992px) {
    width: 130%;
  }
}

.cs-images--item-btb {
  @media only screen and (min-width : 992px) {
     width: 120%;
     margin: 1rem 0rem 0rem 0rem;
  }
 }

.cs-images--item-el {
  max-height: 30rem;
  padding: 0 1rem 0 4rem;
  @media only screen and (min-width : 992px) {
    width: 65%;
    margin: 2rem 1rem 0 7rem;
    padding: unset;
  }
}

.cs-images--item-ht {
  @media only screen and (min-width : 992px) {
    width: 130%;
    padding-top: 22rem;
  }
}

.cs-images--item-sl {
  @media only screen and (min-width : 992px) {
    width: 110%;
    margin: 1rem 0;
  }
}

.cs-images--item-om {
  padding: 2rem;
  max-height: 15rem;
  @media only screen and (min-width : 992px) {
    width: 40%;
    margin-left: 12rem;
    padding: unset;
  }
}

.cs-image--text {
    background: white;
    max-width: fit-content;
    height: fit-content;
    padding: 1rem;
    border: solid #20F820;
    border-width: thin;
    margin: 1rem 0 1rem 0;
    @media only screen and (min-width : 992px) {
      max-width: 30rem;  
      z-index: 20;
      visibility: hidden;
      // position: fixed;
      position: absolute;
      // margin: unset;
      // left: 1;
      // margin-top: 0.5rem;
    &:after{
      content:'';
    }
  }
}

.cs-images--item:hover .cs-image--text{
  @media only screen and (min-width : 992px) {
    visibility: visible;
  }
}

// .cs-image--text-yt {
//   @media only screen and (min-width : 992px) {
//     margin: -1rem 0 0 0;
//     }
// }

.cs-image--text-btb {
  @media only screen and (min-width : 992px) {
      margin: -30rem 0 0 25rem;
    }
}

// .cs-image--text-df {
//   @media only screen and (min-width : 992px) {
//     margin: -1rem 0 0 14rem;
//     }
// }

// .cs-image--text-sk {
//   @media only screen and (min-width : 992px) {
//     margin: -3rem 0 0 5rem;
//     }
// }

.cs-image--text-el {
  @media only screen and (min-width : 992px) {
    margin: -10rem 0 0 -17rem;
    }
}

.cs-image--text-ht {
  @media only screen and (min-width : 992px) {
    margin: -30rem 0 0 -20rem;
    width: 30rem;
    }
}

// .cs-image--text-sl {
//   @media only screen and (min-width : 992px) {
//     margin: -1rem 2rem 0 10rem;
//     }
// }

// .cs-image--text-om {
//   @media only screen and (min-width : 992px) {
//     margin: -2rem 0 0 -11rem;
//   }
// }
