.cs-footer {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  // border: 2px solid black;
}

.cs-links {
  font-family: 'Xanh Mono';
  font-size: .8rem;
  font-weight: 500;
  text-transform: lowercase;
  // border: 2px solid purp;le;
  // color: pink;
}

.footer-link {
  margin-right: 4rem;
  color: #2f2e2e;
}
