.cs-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  background: #F5F5F5;
  box-shadow: 0px 0px 30px #20f820ab;
  @media only screen and (min-width : 992px) {
    padding: 2rem;
    background: none;
    box-shadow: none;
  }
}

.cs-links {
  font-family: 'Xanh Mono';
  font-size: .8rem;
  font-weight: 500;
  text-transform: lowercase;
  display: flex;
  justify-content: space-between;
  @media only screen and (min-width : 992px) {
    display: block;
  }
}

.footer-link {
  @media only screen and (min-width : 992px) {
  margin-right: 4rem;
  }
}
