.cs-images {
    margin-left: 23rem;
    column-count: 4;
    column-gap: 2rem;
}

.cs-images--item {
  margin: 0;
  display: grid;
  break-inside: avoid;
  padding: 1rem;
  max-width: unset;
  cursor: pointer;
}

.cs-images--item-df {
  width: 120%;
  margin: 2rem 5rem 0 0;
}

.cs-images--item-sk {
  width: 130%;
  margin: 0 .5rem .5rem .5rem;
}

.cs-images--item-ct {
  width: 90%;
  margin: 0 2rem 1rem 1rem;
}

.cs-images--item-el {
  width: 65%;
  margin: 2rem 1rem 0 7rem;
}

.cs-images--item-ht {
  width: 130%;
  padding-top: 22rem;
}

.cs-images--item-sl {
  width: 110%;
  margin: 1.5rem 0 1rem 4rem;
}

.cs-images--item-om {
  width: 40%;
  margin-left: 14rem;
}

.cs-image--text {
    background: white;
    width: 22rem;
    height: fit-content;
    padding: 1rem;
    border: solid #20F820;
    border-width: thin;
    z-index: 20;
    display:none;
    position: fixed;
  &:after{
    content:'';
  }
}

.cs-images--item:hover .cs-image--text{
  display: inline;
}
